{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="{%  static  'css/apply_review.css'  %}">
    <meta charset="UTF-8">
    <title>Recommender</title>
</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/review/">Review</a>
  <div class="dropdown">
    <button class="dropbtn">{{ user.first_name }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/show_profile/">Προφίλ</a>
      <a href="/show_reviews/">Οι αξιολογήσεις μου</a>
      <a href="{% url 'logout' %}">Αποσύνδεση</a>
    </div>
  </div>
</div>
<div class="main">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="btitle">
<p> <b>{{b.name}}</b></p>
</div>
<div class="baddress">
<p>{{b.address}}</p>
</div>
  <span class="review">{{ b.stars}}</span>

  {% if b.stars > 4.5 %}
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
{% elif b.stars > 3.5 %}
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg"></span>
{% elif b.stars > 2.5 %}
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg"></span>
<span class="fa fa-star fa-lg"></span>
{% elif b.stars > 1.5 %}
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg"></span>
<span class="fa fa-star fa-lg"></span>
<span class="fa fa-star fa-lg"></span>
{% else %}
<span class="fa fa-star fa-lg checked"></span>
<span class="fa fa-star fa-lg"></span>
<span class="fa fa-star fa-lg"></span>
<span class="fa fa-star fa-lg"></span>
<span class="fa fa-star fa-lg"></span>
{% endif %}
<span class="heading">{{ b.review_count}} αξιολογήσεις</span>
<hr style="border:3px solid #333333">

</div>
<h2> Η γνώμη σας μετράει </h2>
<form action="/apply_review/" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Υποβολή</button>
</form>
</body>
</html>