<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
body {
  background-color: white;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
label {
    padding: 5px;
}
h1 {
    font-style: italic;
    font-size: 40px;
}
p {
    font-size: 20px;
}
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<body>

<h1>Welcome to Context Aware Recommender</h1>
<p>Select one of the below available cities</p>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
</form>
<p>Now select one or more categories you are interested in</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form2.as_p }}
    <input type="submit" value="Submit Category">
</form>
</body>
</html>
