{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommender</title>
    <link rel="stylesheet"  href="{%  static  'css/apply_review.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script><script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        function showError(error) {
            var x = document.getElementById("id_Location");
            var element = document.createElement("div");
            element.setAttribute("id", "snackbar");
            x.value = "37.97967585455389_23.733897939057712"
          switch(error.code) {
            case error.PERMISSION_DENIED:
              element.innerHTML = "User denied the request for Geolocation.";
              break;
            case error.POSITION_UNAVAILABLE:
              element.innerHTML= "Location information is unavailable.";
              break;
            case error.TIMEOUT:
              element.innerHTML = "The request to get user location timed out.";
              break;
            case error.UNKNOWN_ERROR:
              element.innerHTML = "An unknown error occurred.";
              break;
          }
          document.body.appendChild(element);
        }
        function showPosition(position) {
        var x = document.getElementById("id_Location");
        x.value= position.coords.latitude + "_" + position.coords.longitude;
        }
        $(document).ready(function() {
        if(navigator.geolocation) {
            if ($("#id_City").val() != "") {
                let myPromise = new Promise(function(showPosition,showError){
                navigator.geolocation.getCurrentPosition(showPosition,showError);
                });
                myPromise.then(
                    function(value) {showPosition(value);
                    document.getElementById('sumbit_button').disabled = false;
                    },
                    function(error) {showError(error);
                    myFunction()
                    document.getElementById('sumbit_button').disabled = false;}
                );
            }
        }
        });

    </script>

    <script>
        $(document).ready(function() {
        $('#id_City').select2({
        placeholder: "Διαθέσιμες περιοχές",
        allowClear: false
    });
    });
    </script>
    <script>
        $(document).ready(function() {
        document.getElementById('sumbit_button').disabled = true;
        if($("#id_City").val()==""){
            document.getElementById('sumbit_button').disabled = true;
            $('#id_Category').select2({
            placeholder: 'Πρώτα επιλέξτε μια περιοχή',
            disabled : true,
            });}
        else{
            if($("#id_Location").val()!=""){
                document.getElementById('sumbit_button').disabled = false;
            }
            $('#id_Category').select2({
            placeholder: 'Διαθέσιμες κατηγορίες',
            disabled : false,
            });}
    });
    </script>
    <script>
        $(document).ready(function(){
            $("#id_City").change(function(){
                if($(this).val() == "") {
                    $('#id_Category').prop({"disabled": true});
                    $('#id_Category').prop({"placeholder": 'Πρώτα επιλέξτε μια περιοχή'});
                }
            })
        })
    </script>

    <style>
        body {
          background-color: white;
          text-align: center;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
        }

    </style>
</head>
 <body>
  <script>
function myFunction() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 4000);
}
</script>
 {% if messages %}
    {% for message in messages %}
     <div id="snackbar"> {{message}}</div>
    {% endfor %}
    <script> myFunction() </script>
{% endif %}

 {% if user.is_authenticated %}
 <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/review/">Review</a>
  <div class="dropdown">
    <button class="dropbtn">{{ user.first_name }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/show_profile/">Προφίλ</a>
      <a href="/show_reviews/">Οι αξιολογήσεις μου</a>
      <a href="{% url 'logout' %}">Αποσύνδεση</a>
    </div>
  </div>
</div>
 {% else %}
 <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/accounts/login/">Σύνδεση</a>
  <a href="/signup/">Εγγραφή</a>
</div>
 {% endif %}

<h2>Προτάσεις για περισσότερες από 3000 επιχειρήσεις</h2>

{% if user.is_authenticated %}
{% else %}
  <p>Δεν έχετε συνδεθεί. <a href="/accounts/login/">Συνδεθείτε</a> ή <a href="/signup/">κάντε εγγραφή</a> για καλύτερες προτάσεις!</p>
 {% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
</form>


<form action="/results/" method="POST">
    {% csrf_token %}
    {{ form2.as_p }}
    {{ form4.as_p }}

    <input id="sumbit_button" type="submit" value="Προτάσεις">
</form>
</body>
</html>
