{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Recommender</title>
    <link rel="stylesheet"  href="{%  static  'css/apply_review.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        a {
            text-decoration: none;
             color: inherit;}
        .res_show p{
            text-align:left;
            font-size: 27px;
        }
    </style>
</head>
<body>
 <div class="topnav">
  <a href="/">Home</a>
  <a href="/review/">Review</a>
  <div class="dropdown">
    <button class="dropbtn">{{ user.first_name }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/show_profile/">Προφίλ</a>
      <a href="/show_reviews/">Αξιολογήσεις</a>
      <a href="{% url 'logout' %}">Αποσύνδεση</a>
    </div>
  </div>
</div>
 <h1>Οι αξιολογήσεις μου</h1>
 <hr style="border:3px solid #333333">
{% for b in reviews %}
 <div class="review_show">
 <a href="/show_business/{{b.business_id}}/"><p><b>{{b.business.name}}  {{  b.updated|date:'d/m/Y'}}</b></p></a>
 </div>
    {% if b.stars > 4.5 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        {% elif b.stars > 3.5 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        {% elif b.stars > 2.5 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif b.stars > 1.5 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% else %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% endif %}
        <h4>{{b.title}}</h4>
        <p> {{b.content}}</p>
        <hr style="border:3px solid #333333">
            {% endfor %}
</body>
</html>