{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommender</title>
    <link rel="stylesheet"  href="{%  static  'css/apply_review.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script><script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#id_City').select2({
        placeholder: "Διαθέσιμες περιοχές",
        allowClear: true
    });
    });
    </script>
    <script>
        $(document).ready(function() {
        if($("#id_City").val()==""){
            $('#id_Business').select2({
            placeholder: 'Πρώτα επιλέξτε μια περιοχή',
            disabled : true,
            });}
        else{
            $('#id_Business').select2({
            placeholder: 'Διαθέσιμες επιχειρίσεις',
            disabled : false,
            });}
    });
    </script>
    <script>
        $(document).ready(function(){
            $("#id_City").change(function(){
                if($(this).val() == "") {
                    $('#id_Business').prop({"disabled": true});
                    $('#id_Business').prop({"placeholder": 'Πρώτα επιλέξτε μια περιοχή'});
                }
            })
        })
    </script>
</head>
<body>
 <div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/review/">Review</a>
    <div class="dropdown">
    <button class="dropbtn">{{ user.first_name }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/show_profile/">Προφίλ</a>
      <a href="/show_reviews/">Οι αξιολογήσεις μου</a>
      <a href="{% url 'logout' %}">Αποσύνδεση</a>
    </div>
  </div>
</div>
 <h2>Επιλέξτε περιοχή και επιχειρίση που θέλετε να αξιολογήσετε</h2>

<form action="/review/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
</form>
<form action="/apply_review/" method="GET">
    {% csrf_token %}
    {{ form2.as_p }}
    <input type="submit" value="Αξιολόγηση">
</form>
</body>
</html>