* {
  box-sizing: border-box;
}

input[type=submit] {
    font-size: 1.2rem;
}
.main {
  margin-top: 0.72rem; /* Add a top margin to avoid content overlay */
  /*margin-left: 20%;*/
  width: max-content;
}

.btitle p{
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 0.6rem;
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  width: 100%;
  }
.reviewstar, .diraddress, .rating, .b_category{
  width: max-content;
}


.review_show{
  width: max-content;
}
.rateheader{
  width: max-content;
}
.reviewlink{
  color: inherit;
  width: max-content;
}
.baddress p{
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0.48rem;
  text-align: left;
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  width: 100%;
  /*margin: 0;*/
  }
.reviewstar p{
  margin-top: 0.48rem;
  margin-bottom: 0.48rem;
}
.b_category p{
  font-size: 0.96rem;
  margin-top: 0.48rem;
  margin-bottom: 0.48rem;
  text-align: left;
}
.diraddress p{
  margin-top: 0.48rem;
  margin-bottom: 0;
}
.folium-map {
  display: grid;
  height: 100%;
}

.fill-vertical {
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}
.big{
  position: fixed;
  width: 100%;
  height: 100%;
}
.res_show a{
  text-decoration: none;
}
.main a{
  text-decoration: none;
}

.topnav {
  /*position: fixed;*/
  /*top: 0;*/
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.84rem 0.48rem;
  text-decoration: none;
  font-size: 16px;
}
.border {
  padding-top: 0;
}
.sort_type {
  display: inline-block;
  float: right;
  overflow: hidden;
}
.line_1 p{
  float: left;
  margin: 0;
}

.sort_type .dropbtn {
  font-size: 1.02rem;
  border: none;
  outline: none;
  color: #333333 ;
  /*padding: 0 0;*/
  background-color: inherit;
  font-family: inherit;
  margin-bottom: 0;
  margin-top: 1.32rem;
}
.sort_type .dropdown-content{
  right:0;
}
.sort_type:hover .dropbtn {
  background-color: #ddd;
  color: black;
}
.sort_type:hover .dropdown-content {
  display: block;
}



.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 0.96rem;
  border: none;
  outline: none;
  color: white;
  padding: 0.84rem 2.4rem;
  background-color: inherit;
  font-family: inherit;
  margin-bottom: 0;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: max-content;
  box-shadow: 3.6rem 0.48rem 0.96rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0.72rem 0.96rem;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;  /*margin: 0 auto; !* Center website *!*/
  /*max-width: 800px; !* Max width *!*/
  /*padding: 20px;*/
}
.review{
  font-size: 1.5rem;
}
.heading {
  font-size: 0.9rem;
}

.fa {
  font-size: 1.5rem;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 0.6rem;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 0.6rem;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.log-out {
    position: absolute;
    top: 3.6rem;
    right: 1.2rem;
}
#id_preference {
            width: 12%;
        }
#id_City, #id_Category, #id_Business {
            width: 25%;
        }
table, th, td {
  border: 0.06rem solid black;
  border-collapse: collapse;
}

table {
    margin: 0 auto;
    width: 100%;
}
#snackbar {
  visibility: hidden;
  min-width: 15rem;
  margin-left: -7.5rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.12rem;
  padding: 0.96rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 1.8rem;
  font-size: 1.02rem;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
}
hr{
  border:3px solid #333333;
  width: 100%;
}
h1 {
  display: inline-block;
  font-style: italic;
  font-size: 2.4rem;
}
h3 {
  position: absolute;
  top: 2.52rem;
  right: 5.4rem;
  }
p {
      font-size: 1.08rem;
  }


/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 24rem) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 1.8rem; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 1.8rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 1.8rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 1.8rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}