<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommender</title>
    <style>
    .topnav {
    overflow: hidden;
    background-color: #333;
    }
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }
    </style>
</head>
<body>
 <div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/accounts/login/">Σύνδεση</a>
  <a href="/signup/">Εγγραφή</a>
</div>
<h2>Σύνδεση</h2>
  {% if form.errors %}
    <p>Το email και ο κωδικός δεν ταιριάζουν. Παρακαλώ προσπαθήστε ξανά.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Σύνδεση" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

<!--  {# Assumes you setup the password_reset view in your URLconf #}-->
<!--  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
</body>
</html>


